<%- include("./partialsAdmin/sidebar") %>
<div class="content-wrapper">
    <div class="content-header">
        <h1>Dashboard</h1>
        <ul class="content-header__breadcrumb">
            <li>Home</li>
            <li>Dashboard</li>
        </ul>
    </div>
    <div class="shop-info box-info">
        <div class="col-12">
            <a href="/admin/manageCoupons">Quay lại</a>
            <div class="col-lg-8">
                <form action="/admin/manageCoupons/CreateCoupon" enctype="multipart/form-data" method="POST">
                    <div class="input-group">
                        <div class="col-12 mt-2">
                            <label for="couponname" class="form-label">Tên chương trình</label>
                            <input type="text" name="couponname" id="couponname" class="form-control">
                        </div>
                        
                        <div class="col-12 mt-2">
                            <label for="amount" class="form-label">Phần trăm giảm giá</label>
                            <input type="number" name="amount" id="amount" class="form-control">
                        </div>
                        <div class="row align-center justify-content-between col-12 p-0 mt-2">
                            <div class="col-5 p-0">
                                <label for="validfrom" class="form-label">Từ ngày</label>
                                <input type="datetime-local" name="validfrom" id="validfrom" class="form-control"></input>
                            </div>
                            <div class="col-5 p-0">
                                <label for="validto" class="form-label">Đến ngày</label>
                                <input type="datetime-local" name="validto" id="validto" class="form-control" accept="image/*">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-dark" id="button-addon2" type="submit">Thêm mới</button>
                </form>
            </div>
        </div>
    </div>
</div>

