DATABASE=mongodb+srv://hung:1234@cluster0.jkk2t.mongodb.net/fp-ecommerce?authSource=admin&replicaSet=atlas-qjvmq2-shard-0&w=majority&readPreference=primary&appname=MongoDB%20Compass&retryWrites=true&ssl=true
TOKEN_KEY=TKK