<%- include("./partialsSeller/sidebar") %>
    <div class="content-wrapper container">
       
            <div class="shop-info box-info">
                <div class="col-12">
                    <div class="col-lg-10 m-auto">
                        <%- include("./partialsSeller/header") %>
                        <a class="col-1 d-flex align-items-center justify-content-between" href="/sellerPage">
                            <i class="fas fa-chevron-left"></i>
                            <p class="mr-4">Quay lại</p>
                        </a>
                        <form action="/sellerPage/crud-page/createProduct" enctype="multipart/form-data" method="POST">
                            <div class="input-group">
                                <div class="col-12">
                                    <label for="productname" class="form-label">Tên sản phẩm</label>
                                    <input type="text" name="productname" required id="productname" class="form-control">
                                </div>
                                <div class="col-12">
                                    <label for="category">Danh mục</label>
                                    <select class="form-select form-control" required name="category" aria-label="Category">
                                        <option selected>Chọn danh mục</option>
                                        <% categories.forEach(cate=>{ %>
                                            <option value="<%- cate.id %>">
                                                <%- cate.name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <label for="price" class="form-label">Giá</label>
                                    <input type="number"  name="price" id="price" class="form-control" required>
                                </div>
                                <div class="col-12">
                                    <label for="stock" class="form-label">Số lượng</label>
                                    <input type="number" name="stock" id="stock" class="form-control" required>
                                </div>
                                <div class="col-12">
                                    <label for="description" class="form-label">Mô tả</label>
                                    <textarea type="text" name="description" id="description"
                                        class="form-control" required></textarea>
                                </div>
                                <div class="col-12">
                                    <label for="thumbnail" class="form-label">Thumbnail</label>
                                    <input type="file" name="image" id="image" class="form-control" accept="image/*" required>
                                </div>
                                <div class="col-12">
                                    <label for="images" class="form-label">Images</label>
                                    <input type="file" class="form-control" id="images" multiple name="images" accept="image/*">
                                </div>
                                <div class="col-12 mt-3 btn-right">
                                    <button class="btn col-xl-3 col-lg-3 col-sm-12 col-12 btn-dark" id="handleButton"
                                        type="submit">Thêm mới</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
    </div>