<div class="col-12 col-sm-6 col-md-8 col-lg-10 content-wrapper">
    <div class="content-header">
        <h1>Dashboard</h1>
    </div>
    <% if(role === 'Seller') { %>
    <div class="shop-info box-info">
        <div class="shop-info__block" style="background-color: white">
            <div class="card-header">
                <h2>Revenue Chart</h2>
            </div>
            <canvas id="revenueChart"></canvas>
        </div>
        <div class="shop-info__block" style="background-color: white">
            <div class="card-header">
                <h2>Order Chart</h2>
            </div>
            <canvas id="orderChart"></canvas>
        </div>
    </div>
    <% } %>
</div>
<script>
    let dateLable = [],
        revenue = [],
        order = []

    async function renderRevenueChart() {
        await getApiData()
        const ctx = document.getElementById('revenueChart').getContext('2d');
        const chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: dateLable,
                datasets: [{
                    label: 'Revenue',
                    backgroundColor: 'pink',
                    borderColor: 'red',
                    data: revenue
                }]
            },
            options: {
                tooltips: {
                    mode: 'index'
                }
            }
        })
    }
    renderRevenueChart()

    async function renderOrderChart() {
        await getApiData()
        const ctx = document.getElementById('orderChart').getContext('2d');
        const chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: dateLable,
                datasets: [{
                    label: 'Ordered Product',
                    backgroundColor: '#7575FF',
                    borderColor: 'blue',
                    data: order
                }]
            },
            options: {
                tooltips: {
                    mode: 'index'
                }
            }
        })
    }
    renderOrderChart()

    async function getApiData() {
        const getApi = await fetch(`${location.protocol}//${location.host}/dashboard/statisticalApi`)
        const getData = await getApi.json()

        const getRevenue = getData.revenuePerDay.map(value => value.price)
        const getOrder = getData.orderPerDay.map(value => value.order)
        const getDate = getData.revenuePerDay.map(value => value.day.slice(0, -5))

        order = getOrder
        revenue = getRevenue
        dateLable = getDate
    }
</script>