<div class="col-12 col-sm-6 col-md-8 col-lg-10 content-wrapper">
    <div class="content-header">
        <h1>Dashboard</h1>
    </div>
    <div class="shop-info box-info">
        <div class="shop-info__block ">
            <i class="bi bi-bag-check-fill"></i>
            <div class="box-info__header">
                <p>150</p>
                <p>Orders</p>
            </div>
            <div class="shop-info__block box-info">
                <i class="bi bi-currency-dollar"></i>
                <div class="box-info__header">
                    <p>1500000</p>
                    <p>Revenue</p>
                </div>
                <a class="box-info__footer">
                    <p>More info</p>
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="shop-info__block box-info">
                <i class="bi bi-bar-chart"></i>
                <div class="box-info__header">
                    <p>50%</p>
                    <p>Rates</p>
                </div>
                <a class="box-info__footer">
                    <p>More info</p>
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="shop-info__block box-info">
                <i class="bi bi-people"></i>
                <div class="box-info__header">
                    <p>50</p>
                    <p>Visitor</p>
                </div>
                <a class="box-info__footer">
                    <p>More info</p>
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>