.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 250px;
  padding: 8px;
  border-bottom: 1px solid #dee2e6;
}

.main-header ul {
  height: 40px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header ul li {
  width: 100%;
  height: 100%;
}
.main-sidebar .sidebar__main .sidebar__control>ul>li a {
  text-decoration: none;
}

.main-header ul li a, .main-header ul li a > i {
  padding: 8px 16px;
  color: rgba(0, 0, 0, 0.6);
}

.main-header ul li a:hover, .main-header ul li a > i:hover {
  color: rgba(0, 0, 0, 0.8);
}

#orders {
  margin-left: auto;
}

body>div.row.no-gutters>div {
  margin-left: auto;
}

.main-sidebar {
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 100;
}

.main-sidebar:open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body>div.row.no-gutters>aside {
  position: fixed;
  height: 100%;
}

.main-sidebar p {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
}

.main-sidebar .sidebar-content {
  display: block;
  position: relative;
  top: 0;
  width: 300px;
  background-color: #343a40;
  z-index: 1000;
}

.main-sidebar .sidebar__info a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-sidebar .sidebar-content .sidebar__info a img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-right: 16px;
}

.main-sidebar .sidebar-content .sidebar__main {
  padding: 0 8px;
}


.main-sidebar .sidebar__main .sidebar__admin-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 16px;
  margin: 0px 0 16px;
  border-bottom: 1px solid #4b545c;
}

.main-sidebar .sidebar-content .sidebar__main .sidebar__admin-info img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-right: 16px;
}

.main-sidebar .sidebar-content .sidebar__main .sidebar__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-sidebar .sidebar-content .sidebar__main .sidebar__search .search-field {
  height: 38px;
  width: 100%;
}

.main-sidebar .sidebar-content .sidebar__main .sidebar__search .search-field input {
  width: 100%;
  height: 100%;
  background-color: #3f474e;
  color: #fff;
  margin: 0;
  border: none !important;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 8px;
  outline: none;
}

.main-sidebar .sidebar-content .sidebar__main .sidebar__search .search-icon {
  height: 38px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
}

.main-sidebar .sidebar-content .sidebar__main .sidebar__search .search-icon button {
  height: 100%;
  width: 40px;
  margin: 0;
  border: unset !important;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.main-sidebar .sidebar__main .sidebar__control {
  display: flex;
  justify-content: center;
  margin: 8px auto 0;
}

.main-sidebar .sidebar-content .sidebar__main .sidebar__control > ul > li {
  margin-bottom: 2px;
  border-radius: 4px;
}

.main-sidebar .sidebar-content .sidebar__main .sidebar__control > ul > li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 8px 16px;
}

.main-sidebar .sidebar-content .sidebar__main .sidebar__control > ul > li a:hover {
  background-color: #494e53;
}

.main-sidebar .sidebar-content .sidebar__main .sidebar__control > ul > li a:active {
  background-color: #494e53;
}

.main-sidebar .sidebar-content .sidebar__main .sidebar__control > ul > li a i {
  margin-right: 10px;
  color: #fff;
}

.main-sidebar .sidebar-content .sidebar__main .sidebar__control > ul > li a p {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-sidebar .sidebar-content .sidebar__main .sidebar__control > ul > li a p i {
  font-size: 14px;
}

.main-sidebar .sidebar-content .sidebar__main .sidebar__control__inventory {
  cursor: pointer;
  position: relative;
}

.main-sidebar .sidebar-content .sidebar__main .sidebar__control__inventory a i {
  -webkit-transition: -webkit-transform ease-in-out .3s;
  transition: -webkit-transform ease-in-out .3s;
  transition: transform ease-in-out .3s;
  transition: transform ease-in-out .3s, -webkit-transform ease-in-out .3s;
}

.main-sidebar .sidebar-content .sidebar__main .sidebar__control__inventory ul {
  width: 100%;
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main-sidebar .sidebar-content .sidebar__main .sidebar__control__inventory ul li {
  width: 100%;
}

.main-sidebar .sidebar-content .close-sidebar {
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  z-index: 1200;
}

.main-sidebar .sidebar-content .close-sidebar i {
  font-size: 30px;
  color: #fff;
  padding: 10px;
}

.content-wrapper {
  background-color: #f4f6f9;
  min-height: 100vh;
  padding-bottom: 20px;
}

.content-wrapper .content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  margin: 10px 0;
}

.content-wrapper .content-header .nav-aside .btn-nav-aside {
  margin: -15px 10px -15px -15px;
  padding: 15px;
  cursor: pointer;
}

.content-wrapper .content-header .nav-aside h1 {
  font-size: 25px;
  font-weight: bold;
}

.content-wrapper .content-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-wrapper .content-header ul li {
  margin-left: 10px;
}

.content-wrapper .content-header ul li + ::before {
  float: left;
  padding-right: 8px;
  color: #6c757d;
  content: "/";
}

.content-wrapper .shop-info {
  padding: 15px 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(170px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-gap: 20px;
  padding-bottom: 0;
}

.content-wrapper .shop-info__block {
  color: #fff;
  position: relative;
  border-radius: 4px;
}

.content-wrapper .shop-info__block > i {
  position: absolute;
  right: 20px;
  top: 20px;
  color: rgba(0, 0, 0, 0.15);
  font-size: 80px;
}

.content-wrapper .shop-info__block:nth-child(1) {
  background-color: #17a2b8;
}

.content-wrapper .shop-info__block:nth-child(2) {
  background-color: #28a745;
}

.content-wrapper .shop-info__block:nth-child(3) {
  background-color: #ffc107;
}

.content-wrapper .shop-info__block:nth-child(4) {
  background-color: #dc3545;
}

.content-wrapper .shop-info__block .box-info__header {
  padding: 10px;
}

.content-wrapper .shop-info__block .box-info__header p {
  font-size: 30px;
  padding: 10px;
  color: #fff;
}

.content-wrapper .shop-info__block .box-info__header p:first-child {
  font-weight: 900;
}

.content-wrapper .shop-info__block .box-info__header p:last-child {
  font-size: 25px;
  margin-bottom: 10px;
}

.content-wrapper .shop-info__block .box-info__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 4px 0;
}

.content-wrapper .shop-info__block .box-info__footer p {
  margin-right: 8px;
  color: #fff;
  font-weight: 500;
}

.content-wrapper .shop-info__block .box-info__footer i {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
}

.search {
  width: 270px;
  display: block;
}

.search .search-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: 1px solid #000;
}

.search .search-field input {
  padding: 4px 8px;
  outline: none;
  width: 235px;
  border: none;
}

.search .search-field .search-icon {
  padding: 5px 8px;
  border: none;
  border-left: 1px solid #000;
  cursor: pointer;
  width: 35px;
  text-align: center;
  outline: none;
}

.search #search-list {
  width: 270px;
  background-color: #ffffffe7;
  position: absolute;
  z-index: 100;
  max-height: 300px;
  overflow-y: auto;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
}

.search #search-list::-webkit-scrollbar {
  width: 4px;
}

.search #search-list::-webkit-scrollbar-track {
  background: #fff;
}

.search #search-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
  border: 3px solid #ccc;
}

.search #search-list .search-item {
  margin: 5px 3px;
}

.search #search-list .search-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search #search-list .search-item a:hover {
  background-color: #ddd;
}

.search #search-list .search-item a img {
  width: 60px;
  height: 60px;
}

.search #search-list .search-item a .item-info {
  margin-left: 10px;
}

.search #search-list .search-item a .item-info p:first-child {
  font-weight: bold;
  text-transform: capitalize;
}

.search #search-list .search-item a .item-info p:last-child {
  color: red;
  font-weight: bold;
}

/* .crud-page {
  margin-left: 250px;
  min-height: 100vh;
} */

.crud-page .table-control {
  padding-top: 50px;
  width: 100%;
}

.crud-page .table-control th:nth-child(1) {
  width: 5%;
  padding: auto;
}

.crud-page .table-control th:nth-child(2) {
  width: 90px;
}

.select-coupon {
  max-height: 60px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  border-radius: 8px;
}

.select-coupon::-webkit-scrollbar {
  width: 4px;
}

.select-coupon::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555;
}

.select-coupon li {
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 4px;
  overflow: hidden;
}

.select-coupon li span {
  padding: 5px 15px;
}

.select-coupon li span:hover {
  background: #ccc;
  color: #000 !important;
}

.btn-right {
  text-align: right;
}
/*# sourceMappingURL=main.css.map */