<nav class="main-header navbar">
    <ul>
        <li><a href=""><i class="bi bi-list"></i></a></li>
        <li><a href="">Home</a></li>
        <li><a href="">Contact</a></li>
    </ul>
    <ul>
        <li><a href=""><i class="fas fa-search"></i></a></li>
        <li><a href=""><i class="far fa-comments"></i></a></li>
        <li><a href=""><i class="far fa-bell"></i></a></li>
        <li><a href=""><i class="fas fa-expand-arrows-alt"></i></a></li>
    </ul>
</nav>