<aside class="col-6 col-md-4 col-lg-2 main-sidebar sidebar">
    <div class="sidebar__info">
        <a href="/seller">
            <img src="/../images/admin-image.jpg" alt="">
            <p>Welcome</p>
        </a>
    </div>
    <div class="sidebar__main">
        <div class="sidebar__admin-info">
            <img src="/../images/user-admin.png" alt="">
            <p>Phước Nguyên</p>
        </div>
        <div class="sidebar__main">
            <div class="sidebar__admin-info">
                <img src="/../images/user-admin.png" alt="">
                <p>Phước Nguyên</p>
            </div>
            <div class="sidebar__search">
                <div class="search-field">
                    <input type="text" class="search-input" placeholder="Search">
                </div>
                <div class="search-icon">
                    <button><i class="fas fa-search"></i></button>
                </div>
            </div>
            <div class="sidebar__control">
                <ul>
                    <li><a href="/sellerPage/crud-page/"><i class="nav-icon fas fa-th"></i>
                            <p>Quản lý sản phẩm <i class="fas fa-chevron-left"></i></p>
                        </a></li>
                    <li><a href=""><i class="fas fa-shopping-cart"></i>
                            <p>Quản lý đơn hàng <i class="fas fa-chevron-left"></i></p>
                        </a></li>
                    <li><a href=""><i class="fas fa-tags"></i>
                            <p>Quản lý khuyến mãi <i class="fas fa-chevron-left"></i></p>
                        </a></li>
                    <li class="sidebar__control__inventory dropdown-select">
                        <a>
                            <i class="nav-icon fas fa-th"></i>
                            <p>Thống kê<i class="fas fa-chevron-left"></i></p>
                        </a>
                        <ul class="sub-sidebar__control" href="">
                            <li><a href=""><i class="far fa-circle nav-icon"></i>
                                    <p>Thống kê sản phẩm</p>
                                </a></li>
                            <li><a href=""><i class="far fa-circle nav-icon"></i>
                                    <p>Thống kê doanh thu</p>
                                </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <<<<<<< HEAD <div class="sidebar__control">
            <ul>
                <li><a href="/seller/my-products"><i class="nav-icon fas fa-th"></i>
                        <p>Quản lý sản phẩm</i></p>
                    </a></li>
                <li><a href="/seller/manage-orders"><i class="fas fa-shopping-cart"></i>
                        <p>Quản lý đơn hàng</i></p>
                    </a></li>
                <li><a href=""><i class="fas fa-tags"></i>
                        <p>Quản lý khuyến mãi</i></p>
                    </a></li>
                <li class="sidebar__control__inventory">
                    <a>
                        <i class="nav-icon fas fa-th"></i>
                        <p>Thống kê</p>
                    </a>
                    <ul class="sub-sidebar__control" href="">
                        <li><a href=""><i class="far fa-circle nav-icon"></i>
                                <p>Thống kê sản phẩm</p>
                            </a></li>
                        <li><a href=""><i class="far fa-circle nav-icon"></i>
                                <p>Thống kê doanh thu</p>
                            </a></li>
                    </ul>
                </li>
            </ul>
            =======
            <div class="close-sidebar">
                <i class="fas fa-window-close"></i>
                >>>>>>> origin/p.nguyen-week3
            </div>
    </div>
</aside>