<aside class="col-6 col-md-4 col-lg-2 main-sidebar sidebar">
    <div class="sidebar__info">
        <a href="/dashboard">
            <img src="/../images/admin-image.jpg" alt="">
            <p>Welcome <%= (role === 'Admin' ? role : 'Seller')  %></p>
        </a>
    </div>
    <div class="sidebar__main">
        <div class="sidebar__admin-info">
            <img src="/../images/user-admin.png" alt="">
            <p class="text-capitalize"><%= `${userInfo.first_name} ${userInfo.last_name}` %></p>
        </div>
        <div class="sidebar__search">
            <div class="search-field">
                <input type="text" class="search-input" placeholder="Search">
            </div>
            <div class="search-icon">
                <button><i class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="sidebar__control">
            <ul>
                <% if(role === 'Seller') {%>
                <li><a href="/dashboard/my-products"><i class="nav-icon fas fa-th"></i>
                        <p>Quản lý sản phẩm</i></p>
                    </a></li>
                <li><a href="/dashboard/manage-orders"><i class="fas fa-shopping-cart"></i>
                        <p>Quản lý đơn hàng</i></p>
                    </a></li>
                <li class="sidebar__control__inventory">
                    <a href="/dashboard/statistical">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Thống kê</p>
                    </a>
                </li>
                <% } %>
                <% if(role === 'Admin') {%>
                <li><a href="/admin/manage/users"><i class="fas fa-user"></i>
                        <p>Quản lý người dùng</i></p>
                    </a></li>
                <li><a href="/admin/manage/coupons"><i class="fas fa-tags"></i>
                        <p>Quản lý khuyến mãi</i></p>
                    </a></li>
                <li><a href="/admin/manage/categories"><i class="fas fa-list-alt"></i>
                        <p>Quản lý danh mục</i></p>
                    </a></li>
                <% } %>
            </ul>
        </div>
    </div>
</aside>