<div class="content-header">
    <div class="nav-aside d-flex justify-content-between align-center">
        <div class="btn-nav-aside"><i class="fas fa-bars"></i></div>
        <h1>Dashboard</h1>
    </div>
    <ul class="content-header__breadcrumb">
        <li>Home</li>
        <li>Dashboard</li>
    </ul>
</div>