<div class="my-3 px-3 bg-white noBill position-relative text-center">
  <div class=" position-absolute top-50 start-50 translate-middle">
    <img src="/img/invoice.jpg" alt="ảnh đơn hàng" class="" />
    <span>Chưa có đơn hàng</span>
  </div>

</div>

