<div class="my-3 px-3 infor d-grid bg-white">
  <div class="d-flex justify-content-between pt-3">
    <div>
      <div>
        <i class="fas fa-store"></i>
        <span>ABC store</span>
      </div>
    </div>
    <div>
      <span>
        <i class="fas fa-truck"></i>
        <span class="text-success">Giao hàng thành công</span>
      </span>
    </div>
  </div>
  <hr style="border: 1px solid yellow" />
  <div class="bg-white d-flex pt-3 justify-content-between">
    <div class="img">
      <img src="/img/cat-img-2.jpg" alt="anh san pham" class="productImg" />
    </div>
    <div class="details">
      <div>
        <!-- Product Name -->
        <span class="fs-4">Beautiful T-Shirt1 </span>
      </div>
      <div>
        <!-- Product classification -->
        <span>Categories: abc</span>
      </div>
      <div>
        <!-- Quantity -->
        <span>Quantity: 1</span>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-end">
      <!-- Price -->
      <span class="fw-bold">Price: 123241232 $</span>
    </div>
  </div>
  <hr style="border: 1px solid yellow" />
  <div class="">
    <div class="d-flex float-end flex-column">
      <div class="d-flex flex-row justify-content-end mb-3">
        <span class="fw-bold">Total Price: 120318 $</span>
      </div>
      <div class="pb-3">
        <button type="button" class="btn btn-primary">Buy Again</button>
        <button type="button" class="btn btn-secondary">Contact Seller</button>
        <button type="button" class="btn btn-success">View Shop Rating</button>
      </div>
    </div>
  </div>
</div>
